{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'elec.css' %}">
    </head>
    <body>
        <Heading>Electronic products</Heading>
        <table>
            {% for item in Product %}
            <tr>
                {% if item.name == "Laptop" %}
                <div><img src="{% static 'Laptop.jpg' %}"><span>{{item.name}}</span><a href="add-to-cartfirst/{{item.id}}">
                    <button type="button">ADD</button>
                </a></div>
                {% endif %}
                <! add more images for other products as needed >
                {% if item.name == "Television" %}
                <div><img src="{% static 'SamsungTVUltra4k.jpg' %}"><span>{{item.name}}</span><a href="add-to-cartfirst/{{item.id}}">
                    <button type="button">ADD</button>
                </a></div>
                {% endif %}
                {% if item.name == "Refrigerator" %}
                <div><img src="{% static 'Refrigerator.jpg' %}"><span>{{item.name}}</span><a href="add-to-cartfirst/{{item.id}}">
                    <button type="button">ADD</button>
                </a>
                {% endif %}
                <td>
                </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>