{% load static %}
<html>
    <head>
    <link rel="stylesheet" href="{% static 'index.css' %}">
    </head>
    <body bgcolor="cyan">
        <div id=head>
            <h1>Welcome to home page</h1>
            <div class="navbar">
                <ul>
                    <li><a href="#">Deals and Offers</a></li>
                    <li><a href="Electronics">Electronics</a></li>
                    <li><a href="#">Home and Kitchens</a></li>
                </ul>
            </div></div>
            <div id="body">
            <img src="{% static 'shoppingcart.jpg' %}">
        </div>
        <div id="foot"></div>
    </body>
</html>